@import "normalize";
@import "variables";
@import "utils";
@import "grid";


.gridrow{
    display: flex;
    flex-wrap: wrap;
    width: $gridwidth;
    margin: 0 auto;
}

@for $i from 1 through $gridcolumns {
    .col-#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns);
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
    }
}