* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: overlock, sans-serif;
}

html body {
    height: 100%;
}

.headerFormat {
    background-color: #00695C;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.adjust-menu {
    display: flex;
    align-items: center;
}

.account-icon {
    display: none;
}

.logo {
    background-image: url(/assets/damir-spanic-22L7do1cOho-unsplash.jpg);
    background-size: cover;
    width: 3.5rem;
    height: 2rem;
    border-radius: 50px;
    margin: 0 0.3rem 0 0;

}

.icon-standart {
    padding: 0.5rem;
    cursor: pointer;
}

.search_box {
    position: relative;
    border-radius: 50px;
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.input_search {
    font-family: overlock;
    outline: none;
    border: 0;
    padding: 16px 20px;
    height: 0.3rem;
    border-radius: 50px;
    width: 100%;
}

.search_btn {
    position: absolute;
    right: .75em;
}

.slider {
    height: 300px;
    margin-bottom: 2rem;
}

.marquee-slide {
    background-image: url(/assets/jonathan-borba-0KGct860xWA-unsplash.jpg);
    background-size: cover;
    height: 100%;
}

.title-section {
    display: flex;
    justify-content: left;
}

.hotTitle {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-left: #00695C solid 2px;
    margin: 1.5rem;
    padding-left: 8px;
}

.cards-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin: 0 0 2rem 0;
    padding: 0 0.5rem 0 0.5rem;
    height: 170px;
    width: clamp(180px, 50vw, 200px);
    max-width: 260px;
}

.image-container {
    background-image: url(/assets/jonathan-borba-0KGct860xWA-unsplash.jpg);
    background-size: cover;
    height: 6rem;
    width: 100%;
    background-position: center;
    border-radius: 25px;
}

.card-information {
    display: flex;
    height: calc(170px - 6rem);
    flex-wrap: wrap;
    justify-content: left;
}

.card-title {
    font-family: overlock, sans-serif;
    font-size: 14px;
    padding: 0.4rem 0 0 0;
}

.card-text {
    font-family: overlock, sans-serif;
    font-size: 12px;
    color: #888888;
}

.card-price {
    font-family: overlock, sans-serif;
    font-size: 14px;
}

.change .bar {
    background-color: white;
}

.nav li a {
    color: black;
    text-decoration: none;
    font-family: overlock;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.nav li a div {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li:first-child {
    border-bottom: #00695C solid 2px;
}

.nav li:last-child {
    position: absolute;
    bottom: 8vh;
}

.nav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0.97;
}

.change {
    transform: translateX(0);
    z-index: 1;
}

.footer-section section:first-child{
    background-color: #00695C;

}

.footer-links {
    padding: 1rem 1rem 2rem 1rem;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
    max-width: 920px;
    margin:auto;
}
.footer-infos{
    line-height: 1.5rem;
    margin: auto;
padding:0.5rem;

}

.footer-infos div:first-child{
    font-weight: bold;
    margin-bottom: 1rem;
}

.payment-icons img{
    height: 30px;
    width: 40px;
}
.footer-last div:first-child{
    margin: 0.5rem;
    font-size: 14px;
}
.footer-last div:last-child{
    margin: 0.5rem;
}

.footer-last div:nth-child(2){
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .footer-infos div:not(:first-child){
        display: none;
    }
    .footer-infos{
        padding: 0;
    }
    .footer-links{
        padding: 1rem;
    }
}



@media screen and (min-width: 768px) {
    .nav {
        width: 30%;
    }
    .nav li:first-child {
        display: none;
    }
    .card {
        margin: 0 0 2rem 0;
        padding: 0 0.5rem 0 0.5rem;
        height: 170px;
        width: calc(100vw / 4);
    }
    .account-icon {
        display: block;
    }
}

@media screen and (min-width: 900px) {

    .media-margin{
        align-items: center;
        max-width: 920px;
        margin:auto;
    }
    .card {
max-width: 25%;
    }

}
