html body{
    margin:0;
    padding: 0;

    
}
.headerFlex{
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top:0;
}
main{
    display: flex;
}
.box{
    padding: 1rem;
    
}
.positionAside{
    background-color: blueviolet;
    width: 8rem;
    position: sticky;
    height: calc(100vh - 50px);
    top:50px
    
}

.categories{
    border:solid black 0.01rem;
    padding:0.5rem;
}

.positionSection{
    border: solid red 0.01rem;
    width: 100%;
    
}

.wrapper{
    display:flex;
flex-wrap: wrap;
justify-content: start;
}

.wrap{
    background-color: burlywood;
  width: calc(100% / 4 - 16px);
  height: 28rem;
    border: solid black 0.01rem;
    margin: 0.2rem;
}
.title{
    text-align: center;
}




