@import "normalize";
@import "variables";
@import "fonts";
@import "utils";
@import "grid";
@import "pages";

#videoheader {
    overflow: hidden;
    position: relative; /* ou absolute, depende do vosso layout */
    video {
        position: absolute;
        object-fit: contain;
        z-index: -1;
    }
}