@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* ================================== */
/* ======= MARGINS / PADDINGS ======= */
/* ================================== */
.marginnone {
  margin: 0 !important;
}

.marginhorizontalnone {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.marginverticalnone {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margintopnone {
  margin-top: 0 !important;
}

.marginrightnone {
  margin-right: 0 !important;
}

.marginbottomnone {
  margin-bottom: 0 !important;
}

.marginleftnone {
  margin-left: 0 !important;
}

.paddingnone {
  padding: 0 !important;
}

.paddinghorizontalnone {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingverticalnone {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.paddingtopnone {
  padding-top: 0 !important;
}

.paddingrightnone {
  padding-right: 0 !important;
}

.paddingbottomnone {
  padding-bottom: 0 !important;
}

.paddingleftnone {
  padding-left: 0 !important;
}

.marginfull {
  margin: 20px !important;
}

.marginhorizontalfull {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.marginverticalfull {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margintopfull, .card {
  margin-top: 20px !important;
}

.marginrightfull {
  margin-right: 20px !important;
}

.marginbottomfull {
  margin-bottom: 20px !important;
}

.marginleftfull {
  margin-left: 20px !important;
}

.paddingfull {
  padding: 20px !important;
}

.paddinghorizontalfull {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingverticalfull {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.paddingtopfull {
  padding-top: 20px !important;
}

.paddingrightfull {
  padding-right: 20px !important;
}

.paddingbottomfull {
  padding-bottom: 20px !important;
}

.paddingleftfull {
  padding-left: 20px !important;
}

.margindouble {
  margin: 40px !important;
}

.marginhorizontaldouble {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.marginverticaldouble {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margintopdouble {
  margin-top: 40px !important;
}

.marginrightdouble {
  margin-right: 40px !important;
}

.marginbottomdouble {
  margin-bottom: 40px !important;
}

.marginleftdouble {
  margin-left: 40px !important;
}

.paddingdouble {
  padding: 40px !important;
}

.paddinghorizontaldouble {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.paddingverticaldouble {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.paddingtopdouble {
  padding-top: 40px !important;
}

.paddingrightdouble {
  padding-right: 40px !important;
}

.paddingbottomdouble {
  padding-bottom: 40px !important;
}

.paddingleftdouble {
  padding-left: 40px !important;
}

/* ==================== */
/* ======= CARD ======= */
/* ==================== */
.card {
  width: 100%;
  height: 15vh;
}

@media (min-width: 960px) {
  .card {
    height: 30vh;
  }
}

html {
  color: #FFF;
  background-color: #121212;
  font-weight: 300;
  line-height: 1.618;
  font-size: 13.33333px;
}

@media (min-width: 750px) {
  html {
    font-size: 14.33333px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 15.33333px;
  }
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: calc(100% - 20px - 60px);
  margin: 0 auto;
}

@media (min-width: 750px) {
  .gridrow {
    width: calc(90% - 20px);
  }
}

@media (min-width: 960px) {
  .gridrow {
    width: 920px;
  }
}

@media (min-width: 1400px) {
  .gridrow {
    width: 1340px;
  }
}

.gridrowfull,
.gridrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gridrowfull .col,
.gridrow .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .col-1,
.gridrow .col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-1,
.gridrow .offset-1 {
  margin-left: 25%;
}

.gridrowfull .order-1,
.gridrow .order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gridrowfull .col-2,
.gridrow .col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-2,
.gridrow .offset-2 {
  margin-left: 50%;
}

.gridrowfull .order-2,
.gridrow .order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gridrowfull .col-3,
.gridrow .col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-3,
.gridrow .offset-3 {
  margin-left: 75%;
}

.gridrowfull .order-3,
.gridrow .order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.gridrowfull .col-4,
.gridrow .col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.gridrowfull .offset-4,
.gridrow .offset-4 {
  margin-left: 100%;
}

.gridrowfull .order-4,
.gridrow .order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 750px) {
  .gridrowfull .col-t,
  .gridrow .col-t {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t,
  .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1,
  .gridrow .col-t-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-1,
  .gridrow .offset-t-1 {
    margin-left: 25%;
  }
  .gridrowfull .order-t-1,
  .gridrow .order-t-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gridrowfull .col-t-2,
  .gridrow .col-t-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-2,
  .gridrow .offset-t-2 {
    margin-left: 50%;
  }
  .gridrowfull .order-t-2,
  .gridrow .order-t-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridrowfull .col-t-3,
  .gridrow .col-t-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-3,
  .gridrow .offset-t-3 {
    margin-left: 75%;
  }
  .gridrowfull .order-t-3,
  .gridrow .order-t-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridrowfull .col-t-4,
  .gridrow .col-t-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-t-4,
  .gridrow .offset-t-4 {
    margin-left: 100%;
  }
  .gridrowfull .order-t-4,
  .gridrow .order-t-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (min-width: 960px) {
  .gridrowfull .col-d,
  .gridrow .col-d {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d,
  .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1,
  .gridrow .col-d-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 8.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-1,
  .gridrow .offset-d-1 {
    margin-left: 8.33333%;
  }
  .gridrowfull .order-d-1,
  .gridrow .order-d-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gridrowfull .col-d-2,
  .gridrow .col-d-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-2,
  .gridrow .offset-d-2 {
    margin-left: 16.66667%;
  }
  .gridrowfull .order-d-2,
  .gridrow .order-d-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridrowfull .col-d-3,
  .gridrow .col-d-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-3,
  .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .order-d-3,
  .gridrow .order-d-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridrowfull .col-d-4,
  .gridrow .col-d-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-4,
  .gridrow .offset-d-4 {
    margin-left: 33.33333%;
  }
  .gridrowfull .order-d-4,
  .gridrow .order-d-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .gridrowfull .col-d-5,
  .gridrow .col-d-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-5,
  .gridrow .offset-d-5 {
    margin-left: 41.66667%;
  }
  .gridrowfull .order-d-5,
  .gridrow .order-d-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .gridrowfull .col-d-6,
  .gridrow .col-d-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-6,
  .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .order-d-6,
  .gridrow .order-d-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .gridrowfull .col-d-7,
  .gridrow .col-d-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-7,
  .gridrow .offset-d-7 {
    margin-left: 58.33333%;
  }
  .gridrowfull .order-d-7,
  .gridrow .order-d-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .gridrowfull .col-d-8,
  .gridrow .col-d-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-8,
  .gridrow .offset-d-8 {
    margin-left: 66.66667%;
  }
  .gridrowfull .order-d-8,
  .gridrow .order-d-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .gridrowfull .col-d-9,
  .gridrow .col-d-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-9,
  .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .order-d-9,
  .gridrow .order-d-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .gridrowfull .col-d-10,
  .gridrow .col-d-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83.33333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-10,
  .gridrow .offset-d-10 {
    margin-left: 83.33333%;
  }
  .gridrowfull .order-d-10,
  .gridrow .order-d-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .gridrowfull .col-d-11,
  .gridrow .col-d-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 91.66667%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-11,
  .gridrow .offset-d-11 {
    margin-left: 91.66667%;
  }
  .gridrowfull .order-d-11,
  .gridrow .order-d-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .gridrowfull .col-d-12,
  .gridrow .col-d-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset-d-12,
  .gridrow .offset-d-12 {
    margin-left: 100%;
  }
  .gridrowfull .order-d-12,
  .gridrow .order-d-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.gridrowfull.nogutter .col,
.gridrowfull.nogutter .col-t,
.gridrowfull.nogutter .col-d,
.gridrow.nogutter .col,
.gridrow.nogutter .col-t,
.gridrow.nogutter .col-d {
  padding: 0;
}

.gridrowfull.nogutter .col-1,
.gridrowfull.nogutter .col-t-1,
.gridrowfull.nogutter .col-d-1,
.gridrow.nogutter .col-1,
.gridrow.nogutter .col-t-1,
.gridrow.nogutter .col-d-1 {
  padding: 0;
}

.gridrowfull.nogutter .col-2,
.gridrowfull.nogutter .col-t-2,
.gridrowfull.nogutter .col-d-2,
.gridrow.nogutter .col-2,
.gridrow.nogutter .col-t-2,
.gridrow.nogutter .col-d-2 {
  padding: 0;
}

.gridrowfull.nogutter .col-3,
.gridrowfull.nogutter .col-t-3,
.gridrowfull.nogutter .col-d-3,
.gridrow.nogutter .col-3,
.gridrow.nogutter .col-t-3,
.gridrow.nogutter .col-d-3 {
  padding: 0;
}

.gridrowfull.nogutter .col-4,
.gridrowfull.nogutter .col-t-4,
.gridrowfull.nogutter .col-d-4,
.gridrow.nogutter .col-4,
.gridrow.nogutter .col-t-4,
.gridrow.nogutter .col-d-4 {
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.background-img {
  background: url(/assets/img1.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center center;
}

header {
  background-color: rgba(35, 35, 35, 0.6);
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
}

.header-home a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.toogle-container {
  text-align: end;
  width: 34px;
  margin-left: auto;
}

.hamburguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hamburguer div {
  width: 26px;
  height: 2px;
  margin: 4px;
  background-color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.category-menu {
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: -1;
  top: -100vh;
  right: 0;
}

.category-organizer {
  text-align: start;
  font-size: 36px;
  font-weight: bold;
  line-height: 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 124px;
}

.category-organizer div {
  margin: 20px 0;
}

.category-organizer div a {
  text-decoration: none;
  color: white;
}

.category-organizer a:hover {
  color: #d27979;
}

#toogle {
  display: none;
}

#toogle:checked + label .first-line {
  -webkit-transform: rotate(45deg) translateY(6px);
          transform: rotate(45deg) translateY(6px);
}

#toogle:checked + label .second-line {
  -webkit-transform: rotate(-45deg) translateY(-7px);
          transform: rotate(-45deg) translateY(-7px);
}

#toogle:checked + label .third-line {
  display: none;
}

#toogle:checked ~ .category-menu {
  display: block;
  top: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-text {
  font-weight: 300;
  line-height: 32px;
  height: 100vh;
}

.main-text p {
  margin-top: auto;
  margin-bottom: 60px;
  font-size: 24px;
}

.section-selector {
  padding-top: 164px;
}

.section-selector div {
  margin-top: auto;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-selector div a {
  text-decoration: none;
  color: white;
}

.section-selector a:hover {
  color: #d27979;
}

.hover-card {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hover-card:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.hover-card:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.hover-card:hover ul {
  opacity: 1;
}

.hover-content {
  color: white;
  position: absolute;
  top: 15%;
  left: 10%;
  opacity: 0;
  list-style-type: none;
  line-height: 14px;
}

.card {
  height: 95%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}

.card img {
  display: block;
  width: 100%;
}

.next-previous {
  margin: 20px 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.next-previous div:last-child {
  text-align: end;
}

.next-previous a {
  text-decoration: none;
  color: white;
}

.next-previous a:hover {
  color: #d27979;
}

.arrow-right {
  margin-left: 10px;
}

.arrow-right::after, .arrow-right::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
}

.arrow-right:after {
  width: 0;
  height: 0;
  border-left: 4px solid #FFF;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.arrow-right:before {
  width: 12px;
  height: 1px;
  background: #FFF;
}

.arrow-left {
  margin-right: 10px;
}

.arrow-left::after, .arrow-left::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
}

.arrow-left:after {
  width: 12px;
  height: 1px;
  background: #FFF;
}

.arrow-left:before {
  width: 0;
  height: 0;
  border-right: 4px solid #FFF;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.footer-color {
  width: 100vw;
  background-color: rgba(35, 35, 35, 0.6);
  margin-top: auto;
}

.footer-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  font-weight: bold;
}

.footer-organizer div:first-child a {
  text-decoration: none;
  color: #FFF;
}

.footer-organizer div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer-organizer div:last-child div {
  margin-right: 12px;
}

#big-picture {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

#big-picture img {
  background-size: cover;
  width: 100%;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb ul {
  padding: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li:before {
  padding-right: 8px;
  color: #FFF;
  content: "\203A";
  font-size: 24px;
}

.breadcrumb li a {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.title-organizer p {
  font-size: 16px;
  margin: 0;
  line-height: 21px;
}

.title-organizer p:first-child {
  font-size: 18px;
}

.description {
  font-size: 16px;
}

.second-title-organizer {
  font-size: 18px;
}

.second-title-organizer p {
  margin: 0;
  line-height: 21px;
}

.card-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-content div {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 40px;
}

.address-content p {
  margin: 0;
  line-height: 21px;
  font-size: 16px;
}

.address-content p:nth-of-type(3) {
  margin-bottom: 40px;
}

.address-content p:nth-of-type(5) {
  margin-bottom: 40px;
}

#google-map {
  height: 0;
  padding-bottom: 55.55556%;
  position: relative;
  margin-top: 0 !important;
}

#google-map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (min-width: 960px) {
  .header-home a {
    font-size: 18px;
  }
  .category-organizer {
    font-size: 72px;
    line-height: 95px;
    font-weight: bold;
  }
  .main-text p {
    font-size: 48px;
    line-height: 63px;
    font-weight: 300;
  }
  .title-organizer p {
    font-size: 18px;
    line-height: 32px;
  }
  .title-organizer p:first-child {
    font-size: 24px;
  }
  .description {
    font-size: 18px;
  }
  .address-content p:nth-of-type(5) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */