html body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e8e7ff;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem;
}

.top-section a {
  height: 37px;
  padding: 1rem;
}

.top-section img {
  height: 34px;
  width: 32px;
}

.title-organizer {
  margin: 0 1.5rem;
}

.title-organizer div:first-child {
  font-size: 46px;
  color: #2E3A59;
  font-weight: 600;
}

.title-organizer div:last-child {
  line-height: 2rem;
  font-size: 26px;
  color: #B8B8B8;
  font-weight: 400;
}

.buttons-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5rem;
}

.btn {
  background-color: #c7d3ff;
  border-radius: 25px;
  height: 50px;
  width: 100px;
  border: 0px;
  -webkit-box-shadow: 10px 10px 10px 0px #c7d3ff;
          box-shadow: 10px 10px 10px 0px #c7d3ff;
}

.btn:hover {
  background-color: white;
}

.main-box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-box {
  background: linear-gradient(150deg, #9c2cf3 0%, #1f2aa3 80%);
  height: 250px;
  width: 350px;
  margin: 0 1.5rem;
  border-radius: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main-box::before, .main-box::after {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 150px;
  background-color: rgba(151, 80, 206, 0.514);
}

.main-box::before {
  bottom: -146px;
  left: -106px;
}

.main-box::after {
  top: -134px;
  right: -98px;
}

.box-title-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.box-title-organizer div {
  margin: 0.5rem;
}

.box-title {
  font-size: 24px;
  margin: 0 1rem;
  z-index: 1;
}

.box-date {
  margin: 1rem;
  margin-top: auto;
  z-index: 2;
}

.cards-container {
  margin: 0 1.5rem;
  width: 80vw;
}

.progress-title {
  font-size: 24px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.cards-organizer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 1rem;
}

.card div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card div:nth-child(2) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.8rem 1rem;
}

.card-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(150deg, #9c2cf3 0%, #1f2aa3 80%);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-text-organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

.card-text-organizer div:last-child {
  margin-right: auto;
  color: #B8B8B8;
}

.dots span {
  border: #b3b3b3 2px solid;
  margin: 2px;
  border-radius: 50%;
}

.dots-test {
  position: relative;
}

.dots-test a span {
  border: 2px solid #b3b3b3;
  border-radius: 50%;
}

.dots-test::before, .dots-test::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #b3b3b3;
  border-radius: 50%;
}

.dots-test::before {
  top: 14px;
  right: 16px;
}

.dots-test::after {
  bottom: 14px;
  right: 16px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #dfddff;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon-button {
  height: 37px;
  padding: 1rem;
}

.icon-button img {
  height: 34px;
  width: 32px;
}
/*# sourceMappingURL=style.css.map */