 
html body{
    margin: 0;
    padding: 0;
    
}

body{
     font-family: sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;

}
.container-cards{
    display: flex;
    flex-wrap: wrap;
}

.card:hover{
        -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0), 37px 5px 3px 5px rgba(0,0,0,0); 
        box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0), 37px 5px 3px 5px rgba(0,0,0,0);
        background: #207DBA;
        }
        body#tinymce {
        background: #FFFFFF
        }

.card{
    background-color: white;
    /* border: solid grey 0.01rem; */
    border-radius: 1rem;
    width: 100%;
    max-width: 318px;
    min-width: 270px;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0px 9px 7px 4px #00000012, 0px 4px 20px 4px #00000094;
    position: relative;
    transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    top: 0px;
}
.imageContainer{
    font-family: Open Sans;
    background-color: #BCD1FF;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.firstTitle{
    font-family: Open Sans;
    color: #6E798C;
    display: flex;
    margin: 0.5rem 1rem 0.5rem 1rem;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 600;

}
.boldTitle{
    font-family: DM Serif Display;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.text{
    font-family: Open Sans;
    margin: 0.5rem 1rem 0.5rem 1rem;
    color: #374A59;
    line-height: 19px;
}
.author{
    font-family: Open Sans;
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    color: blue;
}

.alignAuthor{
    text-align: center;
}
.imageIcon{
    background-image: url(/assets/capa-dog.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 0 0.5rem 0 0;

}
.organizerIcon{
    display: flex;
    align-items: center;
}




@media screen and (max-width: 500px) {

body{
    margin:0;
}

.text{
    display: none;
}
.author{
    display: none;
}

.article-content{
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.mobile-view{
    display: flex;
    
}
.card{
    max-width: initial;
    width: 100%;

}
.imageContainer{
    width: 50%;
}

.boldTitle{
    top: 50px;

}

img{
    width: 70%;
    height: auto;
}
}


@media screen and (min-width: 501px) and (max-width: 700px){


    body{
        margin:0;
    }
    
    .text{
        display: none;
    }
 
    
    .article-content{
            display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    .mobile-view{
        display: flex;
        
    }
    .card{
        max-width: initial;
        width: 100%;
    
    }
    .imageContainer{
        width: 50%;
    }
    
    .boldTitle{
        top: 50px;
    
    }
    
    
   
}
