$base-color: #e8e7ff;
$font-color: #B8B8B8;
$title-color:#2E3A59;
$bottom-color:#c7d3ff;
$bottom-hover-color:white;
$box-color:linear-gradient(150deg, rgba(156,44,243,1) 0%, rgba(58,73,249,1) 80%);
$box-text-color:white;
$card-background-color:white;
