@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
@import "normalize";
@import "variables";
@import "utils";
@import "grid";

html body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.background-img {
    background: url(/assets/img1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center center;
}

header {
    background-color: rgba(35, 35, 35, 0.6);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-organizer {
    display: flex;
    align-items: center;
    height: 124px;
}
.header-home {
    & a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
}

.toogle-container {
    text-align: end;
    width: 34px;
    margin-left: auto;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;

    & div {
        width: 26px;
        height: 2px;
        margin: 4px;
        background-color: white;
        transition: 0.2s ease;
    }
}

.category-menu {
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100%;
    transition: 0.2s ease;
    z-index: -1;
    top: -100vh;
    right: 0;
}

.category-organizer {
    text-align: start;
    font-size: 36px;
    font-weight: bold;
    line-height: 47px;

    flex-direction: column;
    margin-top: 124px;

    & div {
        margin: 20px 0;
        & a {
            text-decoration: none;
            color: white;
        }
    }
    & a:hover {
        color: #d27979;
    }
}

#toogle {
    display: none;
}

#toogle:checked + label .first-line {
    transform: rotate(45deg) translateY(6px);
}

#toogle:checked + label .second-line {
    transform: rotate(-45deg) translateY(-7px);
}

#toogle:checked + label .third-line {
    display: none;
}

#toogle:checked ~ .category-menu {
    display: block;
    top: 0;
    transition: 0.2s ease;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-text {
    font-weight: 300;

    line-height: 32px;
    height: 100vh;
    & p {
        margin-top: auto;
        margin-bottom: $gridgutter * 3;
        font-size: 24px;
    }
}

.section-selector {
    padding-top: 164px;
    & div {
        margin-top: auto;
        margin-right: 30px;
        display: flex;
        & a {
            text-decoration: none;
            color: white;
        }
    }
    & a:hover {
        color: #d27979;
    }
}

.hover-card {
    transition: all 0.4s ease-in-out;
    &:hover {
        transform: scale(1.4);
        & img {
            filter: brightness(0.5);
        }
        & ul {
            opacity: 1;
        }
    }
}

.hover-content {
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
    opacity: 0;
    list-style-type: none;
    line-height: 14px;
}
.card {
    height: 95%;
    overflow: hidden;
    margin-top: $gridgutter;
    position: relative;

    & img {
        display: block;
        width: 100%;
    }
}

.next-previous {
    margin: 20px 40px;
    font-weight: bold;
    display: flex;
    & div:last-child {
        text-align: end;
    }
    & a {
        text-decoration: none;
        color: white;
        &:hover {
            color: #d27979;
        }
    }
}

.arrow-right {
    margin-left: 10px;

    &::after,
    &::before {
        display: inline-block;
        content: "";
        vertical-align: middle;
    }
    &:after {
        width: 0;
        height: 0;
        border-left: 4px solid $white;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    &:before {
        width: 12px;
        height: 1px;
        background: $white;
    }
}

.arrow-left {
    margin-right: 10px;

    &::after,
    &::before {
        display: inline-block;
        content: "";
        vertical-align: middle;
    }
    &:after {
        width: 12px;
        height: 1px;
        background: $white;
    }
    &:before {
        width: 0;
        height: 0;
        border-right: 4px solid $white;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}

.footer-color {
    width: 100vw;
    background-color: rgba(35, 35, 35, 0.6);
    margin-top: auto;
}
.footer-organizer {
    display: flex;
    align-items: center;
    height: 84px;
    font-weight: bold;

    & div:first-child {
        & a {
            text-decoration: none;
            color: $white;
        }
    }

    & div:last-child {
        display: flex;
        justify-content: end;
        & div {
            margin-right: 12px;
        }
    }
}

#big-picture {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    img {
        background-size: cover;
        width: 100%;
    }
}

.breadcrumb {
    list-style: none;
    & ul {
        padding: 0;
    }
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li + li:before {
    padding-right: 8px;
    color: $white;
    content: "\203A";
    font-size: 24px;
}
.breadcrumb li a {
    color: $white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.breadcrumb li a:hover {
    text-decoration: underline;
}

.title-organizer {
    & p {
        font-size: 16px;
        margin: 0;
        line-height: 21px;
    }
    & p:first-child {
        font-size: 18px;
    }
}
.description {
    font-size: 16px;
}

.second-title-organizer {
    font-size: 18px;
    & p {
        margin: 0;
        line-height: 21px;
    }
}

.card-organizer {
    display: flex;
    flex-direction: column;
}

.address-content {
    flex-direction: column;
    & div {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 40px;
    }
    & p {
        margin: 0;
        line-height: 21px;
        font-size: 16px;
    }
    & p:nth-child(5) {
        margin-top: 40px;
    }
}

#google-map {
    height: 0;
    padding-bottom: percentage(10/18);
    position: relative;
    margin-top: 0 !important;
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media (min-width: $desktop) {
    .header-home {
        & a {
            font-size: 18px;
        }
    }
    .category-organizer {
        font-size: 72px;
        line-height: 95px;
        font-weight: bold;

    }
    .main-text {
        & p {
            font-size: 48px;
            line-height: 63px;
            font-weight: 300;
        }
    }

    .title-organizer {
        & p {
            font-size: 18px;
            line-height: 32px;
        }
        & p:first-child {
            font-size: 24px;
        }
    }

    .description {
        font-size: 18px;
    }
}
